.add-new {
  padding: 0 0 10px;

  &__input-wrap {
    border: none;
    border-bottom: 1px solid $line-rule-colour;
    padding: 0 10px 5px;
  }

  &__input {
    font-family: $handwritten;
    width: 100%;
    box-sizing: border-box;
    border: none;
    padding: 6px;
  }

  &__button {
    background: $dark-blue;
    width: 90%;
    padding: 10px;
    border: none;
    border-radius: 4px;;
    margin: 5px auto 0;
    display: block;
    color: white;
    font-weight: bold;
    font-size: 2rem
  }

  &__error {
    padding: 0 10px;
    margin: 10px 0 15px;
  }
}
