.list {
  &__list {
    padding: 0;
    margin: 0 0 20px;
    list-style: none;
  }

  &__empty-message {
    padding: 0 10px;
  }

  &__item {
    border-bottom: 1px solid $line-rule-colour;
    position: relative;
  };

  &__label {
    display: block;
    padding: 15px 70px 8px 10px;
  }

  &__item-text {
    font-family: $handwritten;
    font-weight: bold;
  }

  &__buttons {
    float: right;
    margin: -30px 15px 0 0;
  }

  &__remove,
  &__add,
  &__forget {
    background: transparent;
    border: none;
    margin-left: 10px;
  }

  &__forget {
    right: 200px;
  }

  &__checkbox {
    display: none;

    &:checked + .list__item-text {
      text-decoration: line-through;
      color: lighten($type-colour, 60%);
    }
  }
}
