.nav {
  @media screen and (max-width: 599px) { // Small screens
    &__open {
      position: absolute;
      top: 10px;
      left: 20px;
    }

    &__open-link {
      display: block;
      height: 40px;
      width: 40px;
      text-indent: -999rem;
      background: url('../images/menu.svg') no-repeat 0 0 transparent;
      background-size: cover;
    }

    &__off-canvas {
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background: white;
      height: 100vh;
      width: calc(100vw - 50px);
      transform: translate(calc(100vw * -1 + 50px));
      transition: transform 300ms ease-in-out;

      &.is-open {
        transform: none;

        .nav__close-link {
          &:after {
            content: '';
            position: absolute;
            top: 0;
            right: calc(100vw * -1);
            height: 100vh;
            width: 100vw;
            background: rgba(0, 0, 0, 0.7);
          }
        }
      }
    }

    &__close-link {
      text-indent: -9999em;
      height: 20px;
      width: 20px;
      display: block;
      margin: 20px;
      background: url('../images/close.svg') no-repeat 0 0 transparent;
      background-size: cover;
    }

    &__tagline {
      padding: 0 20px;
    }

    &__list {
      list-style: none;
      margin: 0;
      padding: 0;
      border-top: 1px solid $navigation-separator;
    }

    &__link {
      text-decoration: none;
      font-size: 2rem;
      display: block;
      padding: 11px 20px 10px;
      border-bottom: 1px solid $navigation-separator;
    }
  }

  @media screen and (min-width: 600px) { // Wider screens
    &__open,
    &__close-link {
      display: none;
    }

    &__list {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-evenly;
    }

    &__item {
      width: 100%;
      text-align: center;
    }

    &__link {
      display: block;
      width: 100%;
      text-decoration: none;
      font-size: 2rem;
      padding: 5px 0;
      border-bottom: 1px solid $navigation-separator;

      &.active {
        border: 1px solid $navigation-separator;
        border-bottom: none;
      }
    }
  }
}
