.nav {
  &__open {
    position: absolute;
    top: 2px;
    left: 10px;
  }

  &__open-link {
    display: block;
    height: 40px;
    width: 40px;
    text-indent: -999rem;
    background: url('../images/menu.svg') no-repeat 0 0 transparent;
    background-size: cover;;
  }

  &__list {
    display: none;

    &.is-open {
      display: block;
    }
  }
}
