html {
  font-size: 62.5%;
}

body {
  font-family: $font-family-default;
  font-size: 1.6rem;
  color: $type-colour;
  line-height: 1.6;
}

h1 {
  font-size: 3rem;
}

button {
  color: $action-colour;
}

a {
  &:focus {
    color: $type-colour;
  }
}