// Colours
$light-blue: #7bc1d6;
$dark-blue: #0a0a8a;
$dark-grey: #333;

// Mappings
$type-colour: $dark-blue;
$action-colour: $dark-grey;
$line-rule-colour: $light-blue;

// Fonts
$font-family-default: Helvetica, Arial, sans-serif;
$handwritten: 'Gloria Hallelujah', cursive;
